html { box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 240px;
  min-height: 100vh;
}

body {
  background: #faffff;
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 1.5em;
  border: solid #00c9c9;
  border-width: 0.3em 0 0 0;
}

@media screen and (min-width: 47em), print and (min-width: 30em) {
  body {
    padding: 2em;
    border: 0.8em solid #00c9c9;
  }
}

a {
  color: #008080;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222;
}

hr {
  display: none;
}
@media screen and (min-width: 47em), print and (min-width: 30em) {
  hr {
    display: block;
    border: 0;
    height: 1px;
    opacity: .2;
    margin: 2rem 0;
    background: #444;
    margin: 1.5rem 0;
  }
}

abbr {
  border-bottom: 1px dashed #444;
  text-decoration: none;
}

.footer a {
  color: #444;
}

.footer svg {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: #444;
}

.page {
  max-width: 55rem;
  margin: 0 auto;
}
.page__title {
  margin-top: 0;
  margin-bottom: 0;
}
.page__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}
.page__moto {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}
@media screen and (min-width: 47em), print and (min-width: 30em) {
  .page__moto {
    padding-top: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid #d4d9d9;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d4d9d9;
  }
}
.contact {
  margin: 0.5 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 0.8em;
}
.contact a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact a svg {
  width: 1.2em;
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: -0.25em;
}
@media (min-width: 32em) {
  .head {
    display: flex;
    justify-content: space-between;
  }
  .contact {
    margin-top: 0;
    margin-left: 1em;
    text-align: right;
  }
  .contact a {
    flex-direction: row-reverse;
  }
  .contact a svg {
    margin-left: 0.5em;
    margin-right: 0;
  }
}

section h2 {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.3rem solid #00c9c9;
  font-style: italic;
}
@media screen and (min-width: 47em), print and (min-width: 30em) {
  section h2 {
    margin-top: 3rem;
    margin-left: 12.5rem;
    border-top: none;
    padding-top: 0;
  }
  section h2::before {
    content: '';
    display: block;
    border-top: 0.4em solid #00c9c9;
    height: 0.4em;
    box-sizing: border-box;
    float: left;
    width: 11rem;
    margin-left: -12.5rem;
    margin-top: 0.65em;
  }
}

.line {
  margin-top: 2em;
}
.line__left h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.line__left time {
  font-size: 0.9em;
}
.line__content {
  margin-top: 0.5em;
}
.line__content h4 {
  margin: 0;
}
.line__content ul {
  margin: 0;
}
.line__content ul + h4{
  margin-top: 0.5em;
}
.line__content p {
  margin: 0;
}
@media screen and (min-width: 47em), print and (min-width: 30em) {
  .line {
    display: flex;
    margin-top: 0;
  }
    .line__left {
      text-align: right;
      width: 11rem;
    }
      .line__left .time {
        margin-top: 0.08em;
      }
    .line__content {
      margin-top: 0;
      margin-left: 1.5rem;
      flex: 1;
    }
      .line__content > :first-child {
        margin-top: 0;
      }
      .line__content > p:first-child {
        margin-top: 0.13em;
      }
      .line__content > h4, .line__content > h4:first-child {
        margin-top: 0.13em;
        margin-bottom: 0.13em;
      }
    .line + .line {
      margin-top: 1em;
      padding-top: 0;
      border: none;
    }
}

@media print {
  body, html {
    font-size: 11px;
    background: transparent;
    border: none;
  }
  .page {
    max-width: none;
  }
  section {
    page-break-inside:avoid;
  }
}