/src/content/fiches-techniques/pwa-declarer-un-service-worker-et-gerer-son-cycle-de-vie/examples
/src/content/fiches-techniques/pwa-intercepter-les-requetes-HTTP-et-les-mettre-en-cache/examples
/src/content/fiches-techniques/pwa-proposer-une-experience-hors-ligne/examples