$background: #f6edda;
$borderColor: desaturate(darken($background, 5), 30);
$fontColor: #100a16;
$linkColor: #d66b1e;
$errorColor: #e53935;

$autresLight: #ffc107;
$autresDark: #ffa000;
$autresLink: #ff8f00;
$tutorielsLight: #9ccc65;
$tutorielsDark: mix(#7cb342, #689f38);
$explorationsLight: #ef5350;
$explorationsDark: #e53935;
$fichesTechniquesLight: #5c6bc0;
$fichesTechniquesDark: #3949ab;
