$background: #f7f2e7;
$borderColor: desaturate(darken($background, 5), 30);
$fontColor: #100a16;
$linkColor: #d66b1e;

$autresLight: #f6e264;
$autresDark: #fbd036;
$tutorielsLight: #bbd941;
$tutorielsDark: #a6d268;
$explorationsLight: #f1534a;
$explorationsDark: #ee5475;
$fichesTechniquesLight: #83b1d4;
$fichesTechniquesDark: #6e7ad4;
