img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figure:focus img {
  max-width: none;
}
figure {
  width: 100%;
  margin: 0;
}
figure > .SVGInline {
  display: block;
  margin: 0 auto;
  text-align: center;
}
figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
figure:hover figcaption {
  opacity: 1;
}
@media screen and (min-width: 51em) {
  figure {
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  figure:focus {
    margin: 0;
    width: 100%;
  }
}
