.page-preview {
  margin: 0;

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    a {
      text-decoration: none;
    }
  }
  time {
    color: #999999;
  }
}

@media screen and (min-width: $breakpointLarge) {
  .page-preview {
    background: white;
    padding: 3em 4em;
    border-radius: .2em;
    box-shadow: 0 0.5em 0.5em rgba(#888, 0.1);
  }
}
