.page-nav__item {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: white;
  &:first-child {
    margin-top: 0;
  }

  &__category {
    button {
      background: #999;
      width: .8rem;
      height: .8rem;
      font-size: 0;
      padding: 0;
      border: 0;
      border-radius: 50%;
      position: absolute;
    }
  }

  &__meta {
    time {
      display: block;
      margin-top: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }

  &--tutoriels {
    .page-nav__item__preview a, .page-nav__item__meta {
      color: $tutorielsDark;
    }
    .page-nav__item__category button {
      background: $tutorielsDark;
      left: 0rem;
    }
  }
  &--fiches-techniques {
    .page-nav__item__preview a, .page-nav__item__meta {
      color: $fichesTechniquesDark;
    }
    .page-nav__item__category button {
      background: $fichesTechniquesDark;
      left: 0.75rem;
    }
  }
  &--explorations {
    .page-nav__item__preview a, .page-nav__item__meta {
      color: $explorationsDark;
    }
    .page-nav__item__category button {
      background: $explorationsDark;
      left: 1.5rem;
    }
  }
  &--autres {
    .page-nav__item__preview a, .page-nav__item__meta {
      color: $autresDark;
    }
    .page-nav__item__category button {
      background: $autresDark;
      left: 2.2rem;
    }
  }
}

@media screen and (min-width: $breakpointLarge) {
  .page-nav {
    padding: 0;
    margin-bottom: 3em;

    &__item {
      position: relative;
      margin-top: 0;
      margin-bottom: -2em;
      padding: 0;
      background: none;

      &:nth-child(2n) .timeline {
        flex-direction: row-reverse;
      }
      &:nth-child(2n + 1) .page-nav__item__preview {
        margin-left: 0;
      }
      &:nth-child(2n + 1) .page-nav__item__meta {
        margin-right: 0;
      }
      &:nth-child(2n) .page-nav__item__preview {
        margin-right: 0;
      }
      &:nth-child(2n) .page-nav__item__meta {
        margin-left: 0;
        text-align: right;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      &__category {
        position: relative;
      }

      &__meta {
        time {
          margin-top: 0;
          font-size: 1.1em;
        }
      }

      .timeline {
        position: relative;
        z-index: 1;
      }
    }
  }
}
