figure:focus img {
  max-width: none;
}
figure {
  width: 100%;
  margin: 0;
}
figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
figure figcaption:hover {
  opacity: 1;
}
@media screen and (min-width: 51em) {
  figure {
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  figure:focus {
    margin: 0;
    width: 100%;
  }
}

.code-tab {
  margin: 1em 0;
}

.code-tab__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.code-tab__list > li {
  display: block;
  flex: 1;
}
.code-tab__button {
  width: 100%;
  height: 100%;
  font-size: 1em;
  opacity: 0.6;
  border: 1px solid #444;
  padding: 0.5em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border-bottom: none;
  cursor: pointer;
}
.code-tab__button.active {
  opacity: 1;
  background: #282c34;
  color: #abb2bf;
  border-color: #282c34;
  cursor: default;
}
.code-tab pre[class*="language-"], .code-tab pre {
  margin-top: 0;
}

.demo {
  min-height: 6em;
  background: #e6e6e6;
  padding: 1em;
}
.demo__launch {
  display: block;
  width: calc(100% + 2em);
  padding: 3em;
  margin: -1em;
  border: none;
  text-align: center;
  position: relative;
  color: transparent;
  background: transparent;
}
.demo__launch::before {
  content: '';
  display: block;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  background: #00c9c9;
  border-radius: 50%;
  cursor: pointer;
}
.demo__launch::after {
  content: '';
  display: block;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 3em);
  left: calc(50% - 1.5em);
  width: 0;
  height: 0;
  border-left: 3em solid #fff;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  transform: scale(0.45, 0.3) translate(0.5em);
  cursor: pointer;
}

.spinner {
  display: block;
  position: relative;
  height: 10em;
  text-align: center;
  line-height: 10em;
}
.spinner:not(.spinner--hidden)::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5em;
  margin-left: -2.5em;
  height: 5em;
  width: 5em;
  border-radius: 5em;
  border: 0.5em solid;
  border-color: #b4eaea;
  border-top-color: #00c9c9;
  animation: spin 1.2s cubic-bezier(0.7, 0.2, 0.3, 0.8) infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 3em;
  font-size: 0.8em;
  opacity: 0.8;
}
.footer ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer li {
  display: inline-block;
  text-align: center;
}
.footer li + li {
  margin-left: 1em;
}

.footer a {
  color: #444;
}

.footer svg {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: #444;
}

@media screen and (min-width: 51em) {
  .footer {
    position: fixed;
    top: 3em;
    margin-top: 0;
    left: 3em;
  }
  .footer li {
    display: block;
    margin: 0;
  }
  .footer li + li {
    margin: 0;
  }
  .footer .name {
    display: none;
  }
  .footer svg {
    margin: 0 0 1em 0;
  }
  .footer li:last-child svg {
    margin-bottom: 0;
  }
}
