html { box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 240px;
  min-height: 100vh;
}

body {
  background: #faffff;
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 1.5em;
  border: solid #00c9c9;
  border-width: 0.3em 0 0 0;
}
@media screen and (min-width: 51em) {
  body {
    padding: 2em;
    border: 0.8em solid #00c9c9;
  }
}

a {
  color: #008080;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222;
}

hr {
  border: 0;
  height: 1px;
  background: #444;
  opacity: .2;
  margin: 2rem 0;
}

abbr {
  border-bottom: 1px dashed #444;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
figure:focus img {
  max-width: none;
}
figure {
  width: 100%;
  margin: 0;
}
figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
figure figcaption:hover {
  opacity: 1;
}
@media screen and (min-width: 51em) {
  figure {
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  figure:focus {
    margin: 0;
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}
.header-anchor {
  position: absolute;
  left: -1.2em;
  width: calc(100% + 1.2em);
  color: #00c9c9;
  opacity: 0.2;
  transition: opacity 0.4s ease;
  width: 100%;
}
h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
  opacity: 1;
}
.page-header {
  text-align: center;
  margin-bottom: 3em;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 60em) {
  .page-header {
    max-width: calc(100vw - 8em);
  }
}

.page-content {
  max-width: 40em;
  margin: 0 auto;
}
.page-content--small {
  max-width: 30em;
  text-align: center;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 -1em;
}

.page-list__item {
  width: 100%;
  padding: 0 1em 2em;
}
@media screen and (min-width: 35em) {
  .page-list__item {
    width: 50%;
    padding: 0 1em 2em;
  }
}

.page-preview {
  margin-bottom: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-preview__title {
  display: inline-block;
  color: #222;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.page-preview__meta {
  font-size: 0.8em;
  opacity: 0.6;
}

.page-preview__read-more {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.code-tab {
  margin: 1em 0;
}

.code-tab__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.code-tab__list > li {
  display: block;
  flex: 1;
}
.code-tab__button {
  width: 100%;
  height: 100%;
  font-size: 1em;
  opacity: 0.6;
  border: 1px solid #444;
  padding: 0.5em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border-bottom: none;
  cursor: pointer;
}
.code-tab__button.active {
  opacity: 1;
  background: #282c34;
  color: #abb2bf;
  border-color: #282c34;
  cursor: default;
}
.code-tab pre[class*="language-"], .code-tab pre {
  margin-top: 0;
}

.demo {
  min-height: 6em;
  background: #e6e6e6;
  padding: 1em;
}
.demo__launch {
  display: block;
  width: calc(100% + 2em);
  padding: 3em;
  margin: -1em;
  border: none;
  text-align: center;
  position: relative;
  color: transparent;
  background: transparent;
}
.demo__launch::before {
  content: '';
  display: block;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  background: #00c9c9;
  border-radius: 50%;
  cursor: pointer;
}
.demo__launch::after {
  content: '';
  display: block;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 3em);
  left: calc(50% - 1.5em);
  width: 0;
  height: 0;
  border-left: 3em solid #fff;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  transform: scale(0.45, 0.3) translate(0.5em);
  cursor: pointer;
}

.home-link {
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

.footer {
  margin-top: 3em;
  font-size: 0.8em;
  opacity: 0.8;
}

.footer ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer li {
  display: inline-block;
  text-align: center;
}
.footer li + li {
  margin-left: 1em;
}

.footer a {
  color: #444;
}

.footer svg {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: #444;
}

@media screen and (min-width: 51em) {
  .home-link {
    position: fixed;
    left: 2.5em;
    top: 2.5em;
  }
  .home-link a {
    position: relative;
    display: block;
    text-indent: -9999em;
  }
  .home-link a::before {
    position: absolute;
    content: '';
    display: block;
    background: #686969;
    width: 1em;
    height: 1em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .home-link a::after {
    position: absolute;
    top: 0.5em;
    left: 0.35em;
    content: '';
    display: block;
    background: #faffff;
    width: 0.3em;
    height: 0.5em;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em;
  }
  .footer {
    position: fixed;
    top: 3em;
    margin-top: 0;
    left: 3em;
  }
  .footer.footer--is-post {
    margin-top: 2.8em;
  }
  .footer li {
    display: block;
    margin: 0;
  }
  .footer li +li {
    margin: 0;
  }
  .footer .name {
    display: none;
  }
  .footer svg {
    margin: 0 0 1em 0;
  }
  .footer li:last-child svg {
    margin-bottom: 0;
  }
}

.spinner {
  display: block;
  position: relative;
  height: 10em;
  text-align: center;
  line-height: 10em;
}
.spinner:not(.spinner--hidden)::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5em;
  margin-left: -2.5em;
  height: 5em;
  width: 5em;
  border-radius: 5em;
  border: 0.5em solid;
  border-color: #b4eaea;
  border-top-color: #00c9c9;
  animation: spin 1.2s cubic-bezier(0.7, 0.2, 0.3, 0.8) infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidden {
  opacity: 0;
}
