.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto 2rem auto;
}

.title {
  align-self: left;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
