.list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;
  padding: 0;
}

@media screen and (min-width: 500px) {
  .item:not(:only-child) {
    width: 50%;
  }
  .item:nth-child(2n) {
    padding-left: 1em;
  }
  .item:nth-child(2n+1) {
    padding-right: 1em;
  }
}
