$grid: 1em;
.tchat {
	display: flex;
	width: 100%;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0 0.2em 0.5em #ccc;

	&__list {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #ccc;
		height: 15em;
		overflow-y: auto;

		&__messages {
			min-height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	&__form {
		display: flex;
		width: 100%;

		&__textarea {
			flex: 1;

			textarea {
				padding: $grid;
				width: 100%;
				height: 100%;
				resize: vertical;
				display: block;
				border: none;
				font-family: inherit;
				font-size: 1em;
			}
		}

		&__button {
			button {
				border: none;
				background: #fff;
				font-weight: bold;
				height: 100%;
				padding: $grid;
				font-family: inherit;
				font-size: 1em;
			}
		}
	}

	.message {
		padding: $grid;
		border-top: 1px solid #ccc;

		&--empty {
			border-top: none;
		}

		&--waiting {
			.message__content,
			.message__author {
				opacity: 0.3;
			}
		}

		&__content {
			max-width: 60ch;
		}

		&__author {
			font-size: 0.8em;
			color: #777;
		}

		&--sent_message {
			text-align: right;
			.message__content {
				margin-left: 20%;
			}
		}
	}
}
