.footer {
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  display: block;
}

.item {
  display: inline-block;
  font-size: 0.75em;
}

.item + .item::before {
  content: '-';
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.75em;
}

.item svg {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: var(--colorNeutral)
}

.phenomicReference {
  font-size: 0.9em;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}
