* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f6edda;
  color: #100a16;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-family: 1.05em;
}
a {
  font-weight: bold;
  color: #100a16;
}
.page {
  max-width: 48em;
  max-width: 70ch;
  padding: 2em 3em;
  margin: 2em auto;
  background: white;
  border-radius: 0.2em;
  box-shadow: 0 0.5em 0.5em rgba(#888, 0.1);
  text-align: center;
}
.page-header h1 {
  margin-top: 0;
}
